body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* All my buttons and a tags */
.btn{
    background-color: #092635;
    color: #9EC8B9;
    border: 1px solid #9EC8B9;
}
a{
    color: #9EC8B9;
    text-decoration: none;

}
/* Navigation Bar Section */
#navbar{
    background-color: #092635;
}

.nav-link{
    color: #9EC8B9;

}
.nav-link:hover{
    border-bottom: 2px solid #9EC8B9  ;
    color: #eef2f0;
} 
 .logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
 }

/* Skills Section */
#skills{
    background-color: #092635;
    
}
.text{
    color: #d4d3d3;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
 
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
    background-color:#9EC8B9

  }
  
#fw-bold{
    color: #9EC8B9;
    font-size: 60px;
}
/* projects section */
.project-text{
    color: #092635;
    text-align: center;
    padding: 25px 0;
    font-weight: bolder;
    font-size: 50px;
}
/* ........................ABOUT ME SECTION...................... */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.3fr;
    background-color: #092635;
    margin: 8% auto;
    overflow: hidden;
    
}
.grid-item{
    padding: 10px 0;
}

.first, .third{
    background-color: #9EC8B9;
    padding: 20px;
    text-align: left;
}

.second, .fourth{
    padding: 20px;
    text-align: left;
    color: white;
}
.profile-photo{
    width: 100%;
    height: 50%;
    border-radius: 100%;
}
.store-pic{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: #092635 2px solid;
    margin-top: 8%;
    object-fit: cover;
}
.myButton{
    border: 1px solid #9EC8B9;
    margin: 20px;
}
.btn-outline-light{
border: 1px solid #092635;
margin-left: 0;
}

/* Certificates Section */
.d-block{
    margin: 5% 0;
    width: 100%;
    height: 500px;
}
.carousel-control-next-icon{
    background-color: rgb(63, 61, 61);
}
.carousel-control-prev-icon{
    background-color: rgb(63, 61, 61);
}
/* contact me section */
#contact{
    background-color: #092635;
    color: #9EC8B9;
}
.footer-link{
    color: #9EC8B9;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
   

}

/* Responsiveness Sections */
@media screen and (max-width: 768px) {
    .d-block{
        margin: 5% auto;
        width: 100%;
        height: 250px;
    }
    
}
@media screen and (max-width: 396px) {
    .d-block{
        margin: 5% auto;
        width: 100%;
        height: 100px;
    }
    
}
