body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar Section */
#navbar{
    background-color: #092635;
}
h1{
    color: #9EC8B9;
}
.nav-link{
    color: #9EC8B9;

}
.nav-link:hover{
    border-bottom: 2px solid #9EC8B9  ;
    color: #eef2f0;
}
.logo{
    height: 100px;
    border-radius: 100%;
    margin-left: 2%;
}

/* Intro Section */
#services{
    background-color: #092635;
    color: #9EC8B9;
}
div>h2{
    color: #eef2f0;
}
/* projects section */
.project-text{
    color: #092635;
    text-align: center;
    padding: 25px 0;
    font-weight: bolder;
    font-size: 50px;
}

/* Certificates Section */
.d-block{
    margin: 5% 0;
    width: 100%;
    height: 500px;
}
.carousel-control-next-icon{
    background-color: rgb(63, 61, 61);
}
.carousel-control-prev-icon{
    background-color: rgb(63, 61, 61);
}
/* contact me section */
#contact{
    background-color: #092635;
    color: #9EC8B9;
}
.footer-link{
    color: #9EC8B9;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    text-align: end;

}

/* Responsiveness Sections */
@media screen and (max-width: 768px) {
    .d-block{
        margin: 5% auto;
        width: 100%;
        height: 250px;
    }
    
}
@media screen and (max-width: 396px) {
    .d-block{
        margin: 5% auto;
        width: 100%;
        height: 100px;
    }
    
}
